## Final Results

In [1]:
import pandas as pd

In [2]:
scores = {'Accuracy': [0.91,0.83],
          'Precision': [0.96,0.87],
          'F1_score': [0.92,0.88],
          'Recall': [0.88, 0.89]
}

In [3]:
results_df = pd.DataFrame(scores, index=['Social','Agency'])
print(f'========== Results for our best model ==========')
display(results_df)
print('LSTM model with Glove Embedding 300dim')

========== Results for our best model ==========

        Accuracy  Precision  F1_score  Recall
Social      0.91       0.96      0.92    0.88
Agency      0.83       0.87      0.88    0.89

LSTM model with Glove Embedding 300dim

### Loading the final results pickle file to produse the results.txt file

In [4]:
res = pd.read_pickle('predicted_data.pkl')

In [5]:
res

,hmid,moment,social,agency,social_predicted,agency_predicted
0,0,I was able to spend the day with my fiance sho...,no,yes,yes,yes
1,1,I was able to play with my cat.,no,yes,no,yes
2,2,I was able to clean my room and gold my laundry.,no,yes,no,yes
3,3,I spend the day at a party on the beach and I ...,yes,yes,yes,yes
4,4,My cat greeting me when I got home from work -...,no,no,yes,no
...,...,...,...,...,...,...
17210,21892,My wife and I went for a hike last week and we...,yes,yes,yes,yes
17211,21893,I finally hit platinum rank in Overwatch.,no,yes,no,yes
17212,21897,One of my long-time friends and I finally ackn...,yes,yes,yes,yes
17213,21898,I earned a professional certification.,no,yes,no,yes
17214,21899,I built a new computer.,no,yes,no,yes

### Writing the results to the result.txt file 
- using the inbuild pyhton file operations

In [9]:
file = open('Outputs/Results.txt', 'w')
file.write(f'hmid agency_label social_label\n')

31

In [10]:
for i in range(len(res)):
    hmid, agency_label, social_label = res.loc[i, "hmid"], res.loc[i, "agency_predicted"], res.loc[i, "social_predicted"]
    file.write(f'{hmid}\t{agency_label}\t  {social_label}\n')
print("Done")
# file.close()

Done